In [ ]:
import numpy as np

In [ ]:
a = np.arange(1,10)

In [ ]:
a

In [ ]:
np.array(a,dtype=float)

In [ ]:
import decimal
integer = 10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))
print(type(a))

In [1]:
#converting a string of integers into decimals
import decimal
string = '12345'
print(decimal.Decimal(string))

12345

In [3]:
# reverse a string
a = 'utkarsh'
str = " "
for i in a:
    str = i+str
print(str)   
print(a[0])

hsraktu
u

In [16]:
b = 'utkarsh'
str = " "
for i in b:
    # print(i)
    str = i+str
    print(i)
print(str)

u
t
k
a
r
s
h
hsraktu

In [ ]:
a = 10
for i in range(1,a):
    print(i)

In [ ]:
st = 'utkarshh'
print(st[::-1])

In [ ]:
# count vowles in a given word
vowe = ['a','b','c','e','o']
vowel = 'aeiou'
count = 0
for i in vowe:
    if i in vowel:
        count +=1
print(count)

In [1]:
vo = ['apple','banana']
ls = 'aeiou'
count = 0
for i in vo:
    if i in ls:
        count +=1
print(count)

0

In [ ]:
vo = ['apple','banana']
for i in vo:
    print(i)

In [19]:
def check_vowel():
    return 'aeiou'


numberr = int(input("Enter a number: "))
# lisst = [input() for _ in range(numberr)]
new_lst = input().split()
# print(lisst)
print(new_lst)

['apple', 'banana']

In [23]:
rows, cols = map(int, input().split())
matrix = [list(map(int ,input().split())) for _ in range(rows)]
print(matrix)

[[1, 2], [3, 4]]

In [11]:
def finsum(a,c):
    
    summ = 0
    for num in range(a,c+1):
        summ = summ+num
        
    return summ



number = int(input())
print(number)
for _ in range(number):
    a,c = list(map(int, input().split()))
    print(finsum(a,c))

    
print(type(a))

1
6
<class 'int'>

In [ ]:
vo = ['apple','banana']
ls = 'aeiou'
count = 0
for i in vo:
    for char in i:
        if char in ls:
            count +=1
    
print(count)

5

In [ ]:
c = np.arange(10).reshape(2,5)
print(c)
print(c.mean)

In [ ]:
print(np.max(c,axis=1))

In [ ]:
print(type(c))

In [ ]:
print(c.tolist())

In [ ]:
word = 'pppppu'
taget = 'p'
count = 0
for i in word:
    if i== taget:
        count +=1
print(count)

In [10]:
#count vowels and cosnstinants
def check_vowels(word):
    vowels = 'aeiouAEIOU'
    new_word = word.upper()
    count_vowels = 0
    count_consta= 0
    for char in new_word:
        if char in vowels:
            count_vowels = count_vowels+1
        else:
            count_consta = count_consta+1
    return count_vowels, count_consta


word = 'utkarsh'
print(check_vowels(word))

 
number = '1234'
summ =0
for i in number:
    digit = int(i)
    summ = summ+digit
print(summ)

(2, 5)
10

In [ ]:
# maxx number in a list
lst = [10,2,3,2,4,20]
max = lst[0]
for i in lst:
    if i > max:
        max = i
print(i)

In [ ]:
# finf mid element
def mid_element(num):
    if len(num) %2 !=0:
        an =len(num)//2
        ans = num[an]
        return ans

        
    else:
        first_mid = len(num)//2-1
        sec_mid = len(num)//2
        return (num[first_mid],num[sec_mid])
        

        
    
num = [1,2,3,4,5,6]
mid = mid_element(num)
print(mid)

In [ ]:
num = [1,2,3,4,5]
mid = int((len(num)/2))
print(num[mid])

In [ ]:
lsyy = ['r','s','u']
string = ''.join(lsyy)
print(string)

In [ ]:
x = [2,5,4,3,77,1]
min = x[0]
for i in x:
    if i<min:
        min = i
print(min)

In [ ]:
b = [34,3,3,2,4,5]
c = [4,4,5,5,5,3]
v = []
for i in range(0,len(b)):
    v.append(b[i]+c[i])
print(v)

In [ ]:
b = [34,3,3,2,4,5]
c = [4,4,5,5]
resuly = [b+c for b,c in zip(b,c)]
print(resuly)

In [ ]:
# compaarint two strings for anagrams
str1 = 'Listen'
str2 = 'Silent'
str1 = list(str1.upper())
str2 = list(str2.upper())
print(str1)
str1.sort()
str2.sort()
if str1 == str2:
    print('true')
else:
    print('false')

In [ ]:
string = ' my name is utkars'
print(string.count(' '))

In [ ]:
string = 'my name is utkars'
print(string.split(' '))

In [ ]:
import re
string = 'my name is utkars 2'
digitcount = re.sub("[^0-9]","",string)
lettercount = re.sub("[^a-zA-Z]","",string)
spacecount = re.findall("[ \n]",string)


print(digitcount)
print(lettercount)
print(spacecount)

In [ ]:
name = 'an sh'
str = ''.join(name)
print(str)

In [ ]:
import re
stri = 'C O D E'
space = re.compile(r'\s+')
spaces = re.sub(space, '',stri)
print(spaces)

In [ ]:

xb = [1,5,9,0]
yc = [3,0,2,9]
set1 = set([1,5,9,0])
set2 = set(yc)

In [ ]:
import numpy as np
a = np.arange(10)
print(a)
set(a).in

In [ ]:
# SECOND LARGEST ELEMENT IN LIST

def second_largest(numbers):
    largest = max(numbers)
    numbers.remove(largest)
    sec_largest = max(numbers)

    return sec_largest

    
        




numbers = [10, 5, 20, 8, 15]
print("Second largest element is :", second_largest(numbers))

In [ ]:
# remove duplicate

def remove_duplicates(numbers):
    return set(list(numbers))


numbers = [1, 2, 3, 3, 4, 4, 5]

print("List after removing duplicates:", remove_duplicates(numbers))

In [ ]:
# common element between two list

def intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return (set1).intersection(set2)


list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
print("common elements are", intersection(list1,list2))

In [ ]:
def find_intersection(list1, list2):
    return list(set(list1) & set(list2))


list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
print("Intersection of lists:", find_intersection(list1, list2))

In [ ]:
# count occurence of elements
def find_occurence(a):
    char_count = {}
    for char in a:
        char_count[char] = char_count.get(char,0) +1
    return char_count



a = "hello world"
print(find_occurence(a))

In [ ]:
data = {'a': 10, 'b': 20, 'c': 10, 'd': 30}
print(data["a"])
for key, value in data.items():
    print(key)

In [ ]:
sq= {a: a*a for a in range(5)}
print(sq)

In [ ]:
data = {'a': 10, 'b': 20, 'c': 10, 'd': 30}
max_value = max(data.items())
print([key for key , value in data.items() if value==max_value])

In [ ]:
def max_value_keys(d):
    max_value = max(d.values())
    return [key for key, value in d.items() if value == max_value]

# Test the function
data = {'a': 10, 'b': 20, 'c': 10, 'd': 30}
print("Keys with maximum value:", max_value_keys(data))

In [ ]:
# check key exist or not

def value_keys(data,ke):
    return ke in data
    


data = {'a': 10, 'b': 20, 'c': 10, 'd': 30}
ke = 'b'
print("Keys with maximum value:", value_keys(data,ke))

In [ ]:
# lambda function
"""
Lambda function is a small and anonymous function defined by using lamda keyword. when we use lambda functon we dont have need to make functions

"""
sum = lambda x,y :x+y
print(sum(8,9))

In [ ]:
# map fucntion
lsit = [1,2,3,4,5]
square = list(map(lambda x: x**2,lsit))
print(square)

In [ ]:
# filter function
numbers = [1, 2, 3, 4, 5]

ans = list(filter(lambda x: x%2==0,numbers))
print(ans)

In [ ]:
# pickling and unpickling
import pickle
data = {'name': 'John', 'age': 30, 'city': 'New York'}

with open('data.pkl','wb') as f:
    pickle.dump(data,f)

In [ ]:
import pickle
with open('data.pkl','rb') as f:
    loaded_data = pickle.load(f)
    print(loaded_data)

In [ ]:
# List and dictionary comprehension

lst = []
for x in range(1,10):
    lst.append(x**2)
print(lst)

# by using comprehension code looks like
squares = [x**2 for x in range(1,10)]
print(squares)

sq = {x:x**2 for x in range(1,7)}
print(sq)

In [ ]:
import sys
sys.path.append('/Users/myhome/Desktop/')

In [ ]:
import sys
sys.path

In [ ]:
def get_user(id):
    name = 'utkarsh'
    state = 'delhi'
    pincode = '110083'
    return name,state,pincode

ans = get_user(123)
print(ans)

In [ ]:
point = (3, 4,6)
x, y ,z= point
z

In [ ]:
x

In [ ]:
# *args and **kargs
def my_function(*args):
    print(args)


ans = my_function(1,3,5,4)

In [ ]:
def function(**kwargs):
    for key , value in kwargs.items():
        print(key,":" ,value)


function(name='John', age=30, city='New York')

In [ ]:
# list
ls = [3,4,3,5,9]
ls.remove(3)
print(ls)
del ls[3]
print(ls)

In [ ]:
ls = [3,4,3,5,9]
print(ls)
t =3
for i in ls:
    if i==t:
        ls.remove(3)
print(ls)

In [ ]:
ls = [3,4,3,5,9]
t =3
if t in ls:
    print(f"number {t} is found in list")
else:
    print(f"number {t} is not found in list")

In [ ]:
# chech whether list contains duplicate elements or not
lss = [1,2,2,3,4,4,5]

has_dup = len(lss)!= len(set(lss))
print(has_dup)

In [ ]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
list_of_elements = [item for i in list_of_tuples for item in i  ]
print(list_of_elements)

In [ ]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
for i in list_of_tuples:
    for item in i:
        print(item)

In [ ]:
sentence = "This is a sample sentence"
ans = sentence.find('is')
print(ans)
an = sentence.index('is')
print(an)

In [ ]:
ans = sentence.find('not')
print(ans)
an = sentence.index('not')
print(an)

In [ ]:
#check palindrome
def is_palindrome(s):
    s = ''.join(s.lower())
    return s == s[::-1]









s= "A man, a plan, a canal: Panama"
s = s.replace(" ", "").lower()
print(s)

# print(is_palindrome("A man, a plan, a canal: Panama"))  

print(s)

In [ ]:
def is_palindrome(s):
   
    s = ''.join(c.lower() for c in s if c.isalnum())
    print(s)
    
   
    return s == s[::-1]


print(is_palindrome("A man, a plan, a canal: Panama"))

In [ ]:
a = 'Hello World'
ann = ''.join(set(a))
print(ann)

In [ ]:
#sorted dictionzary
my_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}

srt_dict = dict(sorted(my_dict.items(),key=lambda x : x[1]))
print(srt_dict)

# sorted_d = sorted(my_dict)
# print(sorted_d)

In [ ]:
my_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}
my_dict['ram'] = 4
print(my_dict)

In [ ]:
removed_value = my_dict.pop('apple')
print(removed_value)
print(my_dict)

In [ ]:
my_list = [1, 2, 3, 4, 5]
# for item in my_list:
#     print(item)


my_iter = iter(my_list)
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

In [ ]:
class MyClass:
    def __init__(self):
        self.public_attribute = 10

    def public_method(self):
        return "This is a public method"

obj = MyClass()
print(obj.public_attribute) 
print(obj.public_method())

In [ ]:
class MyClass:
    def __init__(self):
        self._protected_attribute = 20

    def _protected_method(self):
        return "This is a protected method"

obj = MyClass()
print(obj._protected_attribute) 
print(obj._protected_method())

In [ ]:
class MyClass:
    def __init__(self):
        self.__private_attribute = 30

    def __private_method(self):
        return "This is a private method"

obj = MyClass()
print(obj.__private_attribute)
print(obj.__private_method)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Sample data for Customers
customers_data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max']
}

# Sample data for Orders
orders_data = {
    'id': [1, 2],
    'customerId': [3, 1]
}

In [ ]:
# Creating DataFrames
customers = pd.DataFrame(customers_data)
orders = pd.DataFrame(orders_data)

In [ ]:
neww = customers.iloc[:,1:]

In [ ]:
neww

In [ ]:
merged_df = pd.merge(customers,orders,left_on='id',right_on='customerId',how='left')

In [ ]:
merged_df

In [ ]:
never_ordered_customers = merged_df[merged_df['customerId'].isna()][['name']]

In [ ]:
never_ordered_customers

In [ ]:
new.columns = ['Customers']

In [ ]:
new[0]

In [ ]:
# Sample data
data = {
    'article_id': [1, 1, 2, 2, 4, 3, 3],
    'author_id': [3, 3, 7, 7, 7, 4, 4],
    'viewer_id': [5, 6, 7, 6, 1, 4, 4],
    'view_date': ['2019-08-01', '2019-08-02', '2019-08-01', '2019-08-02', '2019-07-22', '2019-07-21', '2019-07-21']
}

# Create DataFrame
df = pd.DataFrame(data)

In [ ]:
df.head(10)

In [ ]:
self_viewed_authors =  df[df['author_id']==df['viewer_id']]

In [ ]:
self_viewed_authors.head()

In [ ]:
sself_viewed_authors =  df[df['author_id']==df['viewer_id']][['author_id']].drop_duplicates().sort_values(by='author_id').reset_index(drop=True)

In [ ]:
sself = sself_viewed_authors.rename(columns={'author_id':'id'})

In [ ]:
sself

In [ ]:
a = [2,3,4,5]
# for i in a:
#     print(i*2)
n = len(a)
for i in range(n):
    print(a[i]**2)

In [110]:
# Read the number of lines
n = int(input("Enter the number of lines: "))

# Read 'n' lines of input
lines = [input() for _ in range(n)]

# Print the list of lines
print(lines)

In [2]:
def replace_string(line):
    import re
    line = re.sub(r'(?<= )&&(?= )', 'and', line)
    line = re.sub(r'(?<= )\|\|(?= )', 'or', line)
    return line










line = 'if a + b > 0 && a - b < 0 or a*b > 10 || a/b < 1:'
replace_string(line)

'if a + b > 0 and a - b < 0 or a*b > 10 or a/b < 1:'

In [3]:
import numpy as np
import pandas as pd
line = re.su

In [8]:
def remove_ouotliers(data,col):
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    iqr = Q3-Q1

    upper_limit = Q3 + 1.5*iqr
    lower_limit = Q1 - 1.5*iqr

    cleaned_data = data[(data[col]>=lower_limit) & (data[col]<=upper_limit)]
    return cleaned_data

# Sample Data
np.random.seed(0)
data = {
    'value': np.random.normal(0, 1, 100)
}
df = pd.DataFrame(data)

# Add some outliers
df.loc[100] = [10]  # High outlier
df.loc[101] = [-10]  # Low outlier

print("Original Data:")
print(df.describe())

df_cleaned = remove_ouotliers(df, 'value')
print("\nData After Removing Outliers:")
print(df_cleaned.describe())
df_cleaned.head()

Original Data:
            value
count  102.000000
mean     0.058635
std      1.728015
min    -10.000000
25%     -0.662926
50%      0.094096
75%      0.753051
max     10.000000

Data After Removing Outliers:
            value
count  100.000000
mean     0.059808
std      1.012960
min     -2.552990
25%     -0.643857
50%      0.094096
75%      0.737077
max      2.269755

      value
0  1.764052
1  0.400157
2  0.978738
3  2.240893
4  1.867558

In [ ]:
# Sample Data
np.random.seed(0)
data = {
    'value': np.random.normal(0, 1, 100)
}
df = pd.DataFrame(data)

# Add some outliers
df.loc[100] = [10]  # High outlier
df.loc[101] = [-10]  # Low outlier

print("Original Data:")
print(df.describe())

df_cleaned = remove_outliers(df, 'value')
print("\nData After Removing Outliers:")
print(df_cleaned.describe())

In [1]:
import numpy as np
import pandas as pd
import os
import math
import math
import os
import random
import re
import sys

In [2]:
a = "  hello, world   "
ans = a.strip()
print(ans)

hello, world

In [5]:
str_new = ans.replace(',', '')

In [6]:
str_new

'hello  world'

In [18]:
b = [2,3,4,5,3]
c= len(b)
for i in range(0,c):
    print(b[i])

2
3
4
5
3

In [37]:
n = 5
result = ''
for i in range(1,n+1):
    result += str(i)
print(result)

TypeError: 'str' object is not callable

In [40]:
def print_consecutive_numbers(n):

    result = ''
    for i in range(1, n + 1):
        
        result += str(i)

    print(result)

# Read input from stdin
n = int(input().strip())
print_consecutive_numbers(n)

In [1]:
import pandas as pd
import numpy as np

In [8]:
number = '23665'
ans = list(map(int , number.strip().split()))

In [9]:
ans

[23665]

In [12]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]
for name , grade in students:
    print(name)

Harry
Berry
Tina
Akriti
Harsh

In [23]:
unique_grades = sorted(set(grade for name , grade in students),reverse=False)
unique_grades

[37.2, 37.21, 39, 41]

In [18]:
if len(unique_grades)>1:
    second_lowest = unique_grades[1]
else:
    pass

# students who socred 37.21 marks 
students_score = [name for name , grade in students if grade==second_lowest ]

In [20]:
students_score.sort()

['Berry', 'Harry']

In [1]:
 def second_lowest(student_data):
    unique_score = sorted(set(score for name, score in student_data), reverse=False)
    
    
    if len(unique_score)>1:
        second_lowest_score = unique_score[1]
    else:
        return []
        
    
    
    ans = [name for name, score in student_data if score== second_lowest_score]
    ans.sort()
    return ans






if __name__ == '__main__':
    for _ in range(int(input())):
        student_data = []
        name = input()
        score = float(input())
        student_data.append([name, score])
        result = second_lowest(student_data)
        for i in result:
            print(i)

ValueError: invalid literal for int() with base 10: 'yash'

In [1]:
import numpy as np
import pandas as pd

In [11]:
def custom_sort(char):
    if char.islower():
        return (1, char)
    elif char.isupper():
        return (2, char)
    elif char.isdigit():
        digit = int(char)
        if digit % 2 != 0:
            return (3, char)
        else:
            return (4, char)

def sort_string(input_str):
    sorted_str = sorted(input_str, key=custom_sort)
    return ''.join(sorted_str)

In [12]:
input_str = "Sorting1234"
sorted_str = sort_string(input_str)
print(sorted_str)

ginortS1324

In [4]:
s = 'utkarsh'
si = len(s)
si

7

In [5]:
for i in range(0,len(s)):
    print(s[i])

u
t
k
a
r
s
h

In [6]:
# >>> print '1234'.isdigit()
# True
# >>> print '123edsd'.isdigit()
# False

In [12]:
aaa = '1234A#'
print(any(x.isalnum() for x in aaa))

True

In [13]:
print('ab123#'.isalnum())

False

In [14]:
print('1234A#'.isalnum())

False

In [18]:
commands = [
    "insert 0 5",
    "append 10",
    "print"
]

In [22]:
for command in commands:
    parts = command.split()
    print(parts)

['insert', '0', '5']
['append', '10']
['print']

In [21]:
parts

['print']

In [20]:
def custom_sort(char):
    if char.islower():
        return (1,char)
    elif char.isupper():
        return (2, char)
    elif char.isdigit():
        num = int(char)
        if num%2!=0:
            return (3, char)
        else:
            return (4,char)

def sortt(input_str):
    new_str = sorted(input_str, key = custom_sort)
    return ''.join(new_str)




input_str = "Sorting1234"
sorted_str = sortt(input_str)
print(sorted_str)

ginortS1324

In [24]:
write_letter = input()
vowels = ['a','e','i','o','u']
if write_letter.lower() in vowels:
    print('Letter is vowel')
else:
    print('Letter is constonat')

Letter is constonat

#### Remove Vowel From String

In [30]:
def remove_vowel(stringg):
    vowels = ['a','e','i','o','u']
    new_ans= ''
    for char  in stringg:
        if char.lower() not in vowels:
            new_ans = new_ans+char
    return new_ans


stringg = "PrepInsta"
answer = remove_vowel(stringg)
print(answer)

Prpnst